<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321620866304-8rmn98sfv59179km1sclbraqklrdn42v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321620866304-8rmn98sfv59179km1sclbraqklrdn42v</string>
	<key>API_KEY</key>
	<string>AIzaSyA8qhgXxlcFLi0t0GB1zPqQ4bHMyDNtCzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>321620866304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.citycab</string>
	<key>PROJECT_ID</key>
	<string>city-cub</string>
	<key>STORAGE_BUCKET</key>
	<string>city-cub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321620866304:ios:c2428f11e71be340182fe5</string>
</dict>
</plist>